<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>contactSys</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/fmt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/fn</taglib-uri>
      <taglib-location>/WEB-INF/fn.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/perTag</taglib-uri>
      <taglib-location>/WEB-INF/permittedTaglibs.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>
      <taglib-location>/WEB-INF/sql.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/script</taglib-uri>
      <taglib-location>/WEB-INF/scriptfree.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/x</taglib-uri>
      <taglib-location>/WEB-INF/x.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>Testpath</display-name>
    <servlet-name>Testpath</servlet-name>
    <servlet-class>gz.util.Testpath</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Testpath</servlet-name>
    <url-pattern>/Testpath</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListContacrServlet</display-name>
    <servlet-name>ListContacrServlet</servlet-name>
    <servlet-class>contactSys.servlet.ListContacrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListContacrServlet</servlet-name>
    <url-pattern>/ListContacrServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddContactSerlet</display-name>
    <servlet-name>AddContactSerlet</servlet-name>
    <servlet-class>contactSys.servlet.AddContactSerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContactSerlet</servlet-name>
    <url-pattern>/AddContactSerlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryContactServlet</display-name>
    <servlet-name>QueryContactServlet</servlet-name>
    <servlet-class>contactSys.servlet.QueryContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryContactServlet</servlet-name>
    <url-pattern>/QueryContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateContactServlet</display-name>
    <servlet-name>UpdateContactServlet</servlet-name>
    <servlet-class>contactSys.servlet.UpdateContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateContactServlet</servlet-name>
    <url-pattern>/UpdateContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteContactServlet</display-name>
    <servlet-name>DeleteContactServlet</servlet-name>
    <servlet-class>contactSys.servlet.DeleteContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteContactServlet</servlet-name>
    <url-pattern>/DeleteContactServlet</url-pattern>
  </servlet-mapping>
</web-app>